.search-button {
    margin: 10px;
}

#add-search-topic {
    margin-top: 10px;
}

.image-result {
    margin: 20px;
    background-color: lightgray;
    float: left;
}

.image-only {
    margin: 20px;
}

.image-details {
    float: right;
    padding: 10px;
}

#load-more {
    text-align: center;
    display: none;
}